body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #4CAF50;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.settings label {
    display: inline-block;
    margin: 10px 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

input[type="number"] {
    padding: 10px;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 70%;
    text-align: center;
}

#question {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

#emoji-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#result.correct {
    color: green;
}

#result.incorrect {
    color: red;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
